* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
.card {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  text-align: center;
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 350px;
  height: 290px;
  padding: 10px;
  margin: 17px;
  overflow: hidden;
  display: inline-block;
}

.imgCol {
  float: left;
  width: 70%;
  overflow: hidden;
}

img {
  border: 2px solid #666;
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
  height: 190px;
}

.imageWrapper {
  margin: 15px 5px 0 15px;
}

.infoCol {
  float: left;
  width: 30%;
  overflow: hidden;
}

.contentInfo {
  border: 2px solid #666;
  border-radius: 10px;
  margin: 30px 15px 10px 15px;
  padding: 5px;
  height: 170px;
  font-size: 11px;
  overflow: auto;
}

.priceCol {
  float: left;
  width: 100%;
  overflow: hidden;
}

.contentPrice {
  border: 2px solid #666;
  border-radius: 10px;
  margin: 10px 65px;
  padding: 10px;
  font-size: 14px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  clear: both;
  display: table;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}
